MONGODB_URI=mongodb+srv://khalifa:zawad*2008@amil.u8pifcb.mongodb.net/swiftwheels?retryWrites=true&w=majority
MONGODB_DB=swiftwheels
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
SESSION_SECRET=replace-with-a-random-secret-at-least-32-characters
ADMIN_USERNAME=admin
ADMIN_PASSWORD= khalifa amir

